body {
  -webkit-text-size-adjust: none;
}

div, img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#animationwrapper {
  position: relative;
}

.stage {
  overflow: hidden;
  position: absolute;

  .loader {
    display: block;
    width: 960px;
    height: 660px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    // background-color: #211009;
    background-color: rgba(0,0,0,0.4);

    .inner {
      text-align: center;
      border: 1px solid red;
      padding-top: 50px;

      overflow: hidden;
      margin: 0 auto;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-family: sans-serif;
      font-size: 16px;
      img {
        display: inline-block;
      }      
    }
  }

  .popupiframe {
    border: 0;
  }

  .scene {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    & > * {
      position: absolute;
    }

    .navigation {
      -webkit-transition: opacity 0.6s ease-in;
      -moz-transition: opacity 0.6s ease-in;
      -o-transition: opacity 0.6s ease-in;
      transition: opacity 0.6s ease-in;
    }

    .text {
      z-index: 1000;

      overflow: hidden;

      &.black {
        color: black;
      }

      .small {
        font-size: 20px;
        line-height: 27px;
      }

      & a {
        color: #53f;
      }
    }
  }

  /*  ------------- */

  .popupdiv {
    position: relative;
    z-index: 1000000;
    text-align: right;
    overflow: visible;

    .iframe {
      border: 1px solid #dddddd;
      background-color: #fff;
      z-index: 1000001;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }

    .closer {
      background-color: #fff;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid #ddd;
      border-bottom: none;
      color: #aaa;
      font-size: 30px;
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      line-height: 30px;
      z-index: 1000002;
      text-decoration: none;
      position: relative;
      top: -32px;
      right: 0;
    }
  }
}


/* useful stuff */

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv; /*IE*/
}
