/* =========================================================== */
/* TEXT STYLING */
.text, .hastext {
  font-size: 20px;
  line-height: 30px;
  font-family: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
  display: block;
  padding: 5px 15px;
  margin: -5px -15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .text.grey, .text .grey, .hastext.grey, .hastext .grey {
    color: #aaa; }
  .text.black, .text .black, .hastext.black, .hastext .black {
    color: #000; }
  .text.small, .text .small, .hastext.small, .hastext .small {
    font-size: 18px;
    line-height: 24px; }
  .text p, .hastext p {
    padding: 0;
    margin: 20px 0; }
  .text.center, .text .center, .hastext.center, .hastext .center {
    text-align: center; }
  .text a, .hastext a {
    color: #33e;
    text-decoration: none; }
  .text.title, .text .title, .hastext.title, .hastext .title {
    font-weight: 700;
    font-size: 150%; }
  .text.eulenrat, .hastext.eulenrat {
    text-align: left;
    font-size: 24px;
    line-height: 25px;
    margin: 90px 75px 0 230px;
    width: 500px;
    height: 300px;
    overflow-x: auto;
    padding: 0; }
    .text.eulenrat .inner, .hastext.eulenrat .inner {
      width: 470px;
      padding: 0;
      font-family: "Helvetica", serif;
      font-size: 20px;
      line-height: 30px;
      color: #2d1c13; }
      .text.eulenrat .inner p, .hastext.eulenrat .inner p {
        margin: 10px 5px; }

.scene div:active, .scene div:hover, .scene img:active, .scene img:hover {
  cursor: url("/images/cursor.png") 0 0, auto; }

/* =========================================================== */
/* FALLBACK */
.fallback {
  position: absolute;
  top: 0;
  width: 100%; }
  .fallback .inner {
    text-align: center;
    width: 1190px;
    z-index: 100;
    color: #eee;
    margin: 170px auto;
    font: 21px/28px "de-walpergens-pica", sans-serif; }
    .fallback .inner h1, .fallback .inner p {
      width: 570px;
      margin: 0 auto 34px; }
    .fallback .inner a {
      padding: 3px 7px;
      color: #fff;
      cursor: pointer !important;
      pointer-events: auto; }

/* =========================================================== */
/* COUNTER & TEXT IN SCENE 17 */
.counter {
  padding-top: 20px;
  width: 240px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px; }

.hastext {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px; }
  .hastext .inner {
    margin: 25px 5px;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif; }

.button .inner {
  text-align: left;
  color: #fff;
  font-size: 17pt;
  line-height: 17pt;
  margin-top: 38px;
  margin-left: 10px;
  font-weight: normal; }

body {
  /* the page itself */
  background-color: #160a04;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0;
  margin: 0;
  min-width: 1190px; }

/* ======================================== */
table {
  font-size: 0;
  line-height: 0;
  border: 0; }
  table img {
    position: inline-block; }

#stage {
  position: absolute; }
  #stage #scene13 .quiz {
    width: 280px;
    margin-left: 55px;
    margin-top: 70px;
    padding: 0; }
    #stage #scene13 .quiz .inner {
      text-align: left;
      font-family: "de-walpergens-pica", serif !important;
      font-size: 20px;
      line-height: 25px;
      color: #2d1c13;
      padding: 0;
      margin: 0;
      width: 280px; }
      #stage #scene13 .quiz .inner h1 {
        font-size: 30px;
        line-height: 34px; }
  #stage #scene14 .quiz, #stage #scene15 .quiz, #stage #scene16 .quiz {
    text-align: left;
    padding: 0;
    margin: 0; }
    #stage #scene14 .quiz.answer, #stage #scene15 .quiz.answer, #stage #scene16 .quiz.answer {
      padding-left: 55px;
      background-position: top left;
      background-repeat: no-repeat no-repeat; }
    #stage #scene14 .quiz.answer0, #stage #scene15 .quiz.answer0, #stage #scene16 .quiz.answer0 {
      background-image: url(/images/quiz/a.png); }
    #stage #scene14 .quiz.answer1, #stage #scene15 .quiz.answer1, #stage #scene16 .quiz.answer1 {
      background-image: url(/images/quiz/b.png); }
    #stage #scene14 .quiz.answer2, #stage #scene15 .quiz.answer2, #stage #scene16 .quiz.answer2 {
      background-image: url(/images/quiz/c.png); }
    #stage #scene14 .quiz .inner, #stage #scene15 .quiz .inner, #stage #scene16 .quiz .inner {
      text-align: left;
      font-family: "de-walpergens-pica", serif !important;
      font-size: 22px;
      line-height: 27px;
      color: #2d1c13;
      padding: 0;
      margin: 0; }
    #stage #scene14 .quiz.explanation, #stage #scene15 .quiz.explanation, #stage #scene16 .quiz.explanation {
      width: 405px; }
      #stage #scene14 .quiz.explanation .inner, #stage #scene15 .quiz.explanation .inner, #stage #scene16 .quiz.explanation .inner {
        width: 355px;
        overflow: hidden;
        text-align: center;
        margin-top: 150px;
        margin-left: 45px; }
    #stage #scene14 .quiz.results, #stage #scene15 .quiz.results, #stage #scene16 .quiz.results {
      font-size: 22px;
      line-height: 26px; }
  #stage .loader .inner {
    margin: none;
    position: absolute;
    border: none;
    top: 140px;
    right: 219px; }
  #stage .loader .percentage {
    position: absolute;
    right: 37px;
    top: 49px; }

#rahmen_wrapper_wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 1200px;
  text-align: center; }
  #rahmen_wrapper_wrapper #topmenuwrapper {
    position: relative;
    clear: both;
    width: 1180px;
    margin: 0 auto;
    top: 0px;
    text-align: center;
    overflow: hidden; }
    #rahmen_wrapper_wrapper #topmenuwrapper .logo {
      z-index: 51;
      position: relative; }
    #rahmen_wrapper_wrapper #topmenuwrapper img {
      float: left;
      border: 0;
      display: inline-block; }
  #rahmen_wrapper_wrapper #footerwrapper {
    position: relative;
    top: 460px;
    padding-left: 0px; }
    #rahmen_wrapper_wrapper #footerwrapper #footer {
      margin-left: auto;
      margin-right: auto; }
      #rahmen_wrapper_wrapper #footerwrapper #footer img {
        display: inline-block;
        float: left; }

#rahmen_wrapper {
  position: absolute;
  clear: both;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 700px;
  pointer-events: none; }
  #rahmen_wrapper #rahmen {
    position: relative;
    margin: 37px auto 10px;
    width: 1005px;
    margin-left: auto;
    margin-right: auto; }
    #rahmen_wrapper #rahmen .rahmen_oben {
      position: absolute;
      top: 0;
      left: 0;
      position: relative;
      z-index: 50; }
    #rahmen_wrapper #rahmen .rahmen_rechts {
      position: absolute;
      top: 40px;
      right: 0; }
    #rahmen_wrapper #rahmen .rahmen_links {
      position: absolute;
      top: 40px;
      left: 0; }
    #rahmen_wrapper #rahmen .rahmen_unten {
      position: absolute;
      top: 667px;
      left: 0; }

#zauberpressediv {
  width: 100%;
  position: absolute;
  top: 43px; }
