/* =========================================================== */

/* TEXT STYLING */

.text, .hastext {
  font-size: 20px;
  line-height: 30px;
  font-family: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;

  display: block;
  padding: 5px 15px;
  margin: -5px -15px;
  // background: rgba(255,255,255,0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &.grey, .grey {
    color: #aaa;    
  }

  &.black, .black {
    color: #000;
  }

  &.small, .small {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    padding: 0;
    margin: 20px 0;
  }

  &.center, .center {
    text-align: center
  }

  a {
    color: #33e;
    text-decoration: none;
  }

  &.title, .title {
    font-weight: 700;
    font-size: 150%;
  }

  &.eulenrat {
    // border: 2px solid red;
    text-align: left;
    font-size: 24px;
    line-height: 25px;

    margin: 90px 75px 0 230px;
    width: 500px;
    height: 300px;
    overflow-x: auto; 
    padding: 0;

    & .inner {
      width: 470px;
      padding: 0;
      font-family: "de-walpergens-pica", serif;
      font-size: 20px;
      line-height: 30px;
      color: #2d1c13;

      p {
        margin: 10px 5px;
      }
    }
  }
}

// SPECIAL CURSOR
.scene {
  & div, & img {
    &:active, &:hover {
      cursor: url('/cursor.png') 0 0, auto;       
    }
  }
}

/* =========================================================== */
/* FALLBACK */

.fallback {
  position: absolute;
  top: 0;
  width: 100%;

  .inner {
    text-align: center;

    h1, p {
      width: 570px;
      margin: 0 auto 34px;
    }

    width: 1190px;
    z-index: 100;
    color: #eee;
    margin: 170px auto;
    font: 21px/28px "de-walpergens-pica", sans-serif;
    a {
      padding: 3px 7px;
      color: #fff;
      cursor: pointer !important;
      pointer-events: auto;
    }
  }
}

/* =========================================================== */
/* COUNTER & TEXT IN SCENE 17 */

.counter {
  padding-top: 20px;
  width: 240px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.hastext {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  .inner {
    margin: 25px 5px;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif;
  }
}

.button .inner {
  text-align: left;
  color: #fff;
  font-size: 17pt;
  line-height: 17pt;
  margin-top: 38px;
  margin-left: 10px;
  font-weight: normal;
}

body {
  /* the page itself */
  background-color: #160a04;
  background-image: url(../images/background.jpg);
  background-repeat:no-repeat;
  background-position:center top; 
  padding: 0;
  margin: 0;
  min-width: 1190px;
}

/* ======================================== */
// PAGE-LAYOUT

table {
  font-size: 0;
  line-height: 0;
  border: 0;
  img {
    position: inline-block;
  }
}

#stage {
  position: absolute;
  // top: 45px;

  #scene13 {
    .quiz {
      width: 280px;
      margin-left: 55px;
      margin-top: 70px;
      padding: 0;

      .inner {
        text-align: left;
        font-family: "de-walpergens-pica", serif !important;
        font-size: 20px;
        line-height: 25px;
        color: #2d1c13;
        padding: 0;
        margin: 0;
        width: 280px;
        h1 {
          font-size: 30px;
          line-height: 34px;
        }
      }
    }
  }

  #scene14, #scene15, #scene16 {

    .quiz {
      text-align: left;
      padding: 0;
      margin: 0;

      &.answer {
        padding-left: 55px;
        background-position: top left;
        background-repeat: no-repeat no-repeat;
      }

      &.answer0 {
        background-image: url(/images/quiz/a.png);
      }

      &.answer1 {
        background-image: url(/images/quiz/b.png);
      }

      &.answer2 {
        background-image: url(/images/quiz/c.png);
      }

      .inner {
        text-align: left;
        font-family: "de-walpergens-pica", serif !important;
        font-size: 22px;
        line-height: 27px;
        color: #2d1c13;
        padding: 0;
        margin: 0;
      }

      &.explanation {
        width: 405px;
        // border: 2px solid red;
        .inner {
          // border: 1px solid green;
          width: 355px;
          overflow: hidden;
          text-align: center;
          margin-top: 150px;
          margin-left: 45px;
        }
      }

      &.results {
        // border: 1px solid green;
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  .loader {
    .inner {
      margin: none;
      position: absolute;
      border: none;
      top: 140px;
      right: 219px;
    }
    .percentage {
      position: absolute;
      right: 37px;
      top: 49px;
    }
  }
}

#rahmen_wrapper_wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 1200px;
  text-align: center;

  #topmenuwrapper {
    position: relative;
    clear: both;
    width: 1180px;
    margin: 0 auto;
    top: 0px;

    // z-index: 0.5;
    text-align: center;
    overflow: hidden;

    .logo {
      z-index: 51;
      position: relative;
    }

    img {
      float: left;
      border: 0;
      display: inline-block;
    }    
  }

  #footerwrapper {
    position: relative;
    top: 460px;
    padding-left: 0px;
    #footer {
      margin-left: auto;
      margin-right: auto;
      img {
        display: inline-block;
        float: left;
      }
    }
  }
}

#rahmen_wrapper {
  position: absolute;
  clear: both;
  top: 0;
  width: 100%;
  min-width: 1200px;
  height: 700px;
  pointer-events:none;

  #rahmen {
    position: relative;
    margin: 37px auto 10px;
    width: 1005px;
    margin-left: auto;
    margin-right: auto;

    .rahmen_oben {
      position: absolute;
      top: 0;
      left: 0;
      position: relative;
      z-index: 50;
    }
    .rahmen_rechts {
      position: absolute;
      top: 40px;
      right: 0;
    }
    .rahmen_links {
      position: absolute;
      top: 40px;
      left: 0;
    }
    .rahmen_unten {
      position: absolute;
      top: 667px;
      left: 0;
    }
  }
}

#zauberpressediv {
  width: 100%;
  position: absolute;
  top: 43px;
}

